@{
    ViewBag.Title = "Omaygat | Türkiyenin Güncel İçerik Sitesi";
    Layout = "~/Views/Shared/_Site_Layout.cshtml";
}
@model List<MYARCH.DTO.EEntity.EPostUserDTO>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <div class="card hovercard">
                <div class="cardheader bgGreen" style="background-image:url(@item.PostImageUrl)">
                    <div class="post-overlay"></div>
                </div>
                <div class="info">
                    <div class="title"><a style="color:black" href="/@MYARCH.UTILITIES.StringOperations.StringManager.ToSlug(item.CategoryName)/@item.Slug">@item.Title</a></div>
                </div>
                <hr />
                <div class="info">
                    <div class="short-description" style="height:100px;">@item.ShortDescription</div>
                </div>
                <hr />
                <div class="bottom">
                    <a href="/@MYARCH.UTILITIES.StringOperations.StringManager.ToSlug(item.CategoryName)/@item.Slug">
                        <i class="fa fa-external-link pull-left"></i> Haberin Devamı...
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=@Request.Url@MYARCH.UTILITIES.StringOperations.StringManager.ToSlug(item.CategoryName)/@item.Slug" target="_blank">
                        <i class="fa fa-facebook pull-right"></i>
                        
                    </a>
                    <a href="https://twitter.com/home?status=@Request.Url@MYARCH.UTILITIES.StringOperations.StringManager.ToSlug(item.CategoryName)/@item.Slug" target="_blank">
                        <i class="fa fa-twitter pull-right"></i>
                    </a>
                    <a href="https://plus.google.com/share?url=@Request.Url@MYARCH.UTILITIES.StringOperations.StringManager.ToSlug(item.CategoryName)/@item.Slug" target="_blank">
                        <i class="fa fa-google-plus pull-right"></i>
                    </a>
                </div>
            </div>
        </div>

    }

</div>