@{
    ViewBag.Title = Model[0].CategoryName + " | Türkiyenin Güncel İçerik Sitesi";
    Layout = "~/Views/Shared/_Site_Layout.cshtml";
}
@section breadCrumb{
    <div class="collapse navbar-collapse site-title">
        <h1>@Model[0].CategoryName</h1>
    </div>
}
@model List<MYARCH.DTO.EEntity.EPostUserDTO>
<style>
    .container{
        margin-top:50px;
    }
    
</style>
<div id="postList" class="row row-margin-bottom">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="card hovercard">
                <div class="cardheader bgGreen" style="background-image:url(@item.PostImageUrl)">
                  
                </div>
                <div class="info">
                    <div class="title"><a style="color:black" href="//@MYARCH.UTILITIES.StringOperations.StringManager.ToSlug(item.CategoryName)-@item.CategoryId/@item.Slug">@item.Title</a></div>
                </div>
                <hr />
                <div class="info">
                    <div class="short-description">@item.ShortDescription</div>
                </div>
                <hr />
                <div class="bottom">
                    <a href="/@MYARCH.UTILITIES.StringOperations.StringManager.ToSlug(item.CategoryName)/@item.Slug">
                        <i class="fa fa-external-link pull-left"></i> Haberin Devamı...
                    </a>
                </div>
            </div>
        </div>

    }
</div>
<script src="~/Assets/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@using (Ajax.BeginForm("PostMore", "Site", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "postList", InsertionMode = InsertionMode.InsertAfter }))
{
    <input id="btnPostMore" type="submit" class="btn btn-default" value="Daha Fazla Göster" style="width: 100%;" />
}
@if (((List<MYARCH.DTO.EEntity.EPostUserDTO>)Session["IsEmpty"]).Count == 0)
{
    <style>
        #btnPostMore {
            display: none;
        }
    </style>
}
