

.listview {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
    border-radius: 0;
}

    .listview .cardheader {
        background-size: cover;
        height: 200px;
        box-shadow: 0 2px 2px rgba(0,0,0,.15);
        margin-top:5px;
    }

    .listview .avatar {
        position: relative;
        top: -50px;
        margin-bottom: -50px;
    }

        .listview .avatar img {
            width: 100px;
            height: 100px;
            max-width: 100px;
            max-height: 100px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            border: 5px solid rgba(255,255,255,0.5);
        }

    .listview .info {
        padding: 0px 8px 0px;
    }

        .listview .info .title {
            margin-bottom: 4px;
            font-size: 24px;
            line-height: 1;
            color: #262626;
            vertical-align: middle;
        }

        .listview .info .desc {
            overflow: hidden;
            font-size: 12px;
            line-height: 20px;
            color: #737373;
            text-overflow: ellipsis;
        }

    .listview .bottom {
        padding: 0 20px;
        margin-bottom: 7px;
    }